//executor.cpus = 4
//executor.queueSize = 4

includeConfig 'conf/resources.config'

process.executor = 'local'
executor.queueSize = 500
process.queue = 'dkurtz,normal,arasha,owners'
process.errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'ignore' }
process.shell = ['/bin/bash', '-euo', 'pipefail']
process.maxRetries = 3
params.script_dir = "${projectDir}/scripts"
params.output_dir = "/Users/nick/Desktop/20250313_refract_dev/data/output/primary_screen/final_test"


process {
    cpus = 4
    memory = '16GB'
}
