params {
    // EXECUTABLES
    pipeline_script_dir = "${projectDir}/scripts"

    // INPUT DIRS
    feature_path = "/Users/nick/Desktop/new_refract/data/features/processed_features/x-all.pkl"
    response_dir = "/Users/nick/Desktop/new_refract/data/responses/lowercase_responses"

    // OUTPUT DIRS
    output_dir = "/Users/nick/Desktop/new_refract/data/test_output"

    // PARAMTERS
    n_splits = 10
    feature_fraction = .01
}