params {
    // EXECUTABLES
    pipeline_script_dir = "${projectDir}/scripts"
    conda_env = "/drive3/nphill22/miniconda3/envs/lab"

    // INPUT DIRS
    feature_path_pkl = "/drive3/nphill22/projects/corsello_lab/20250525_manuscript/sherlock_copy/data/processed_features/x-all.pkl"
    response_dir = "/drive3/nphill22/projects/corsello_lab/20250525_manuscript/data/responses/subset/primary_screen"

    // OUTPUT DIRS
    output_dir = "/drive3/nphill22/projects/corsello_lab/20250525_manuscript/data/output/subset/primary"
    data_split_dir = "train_splits"

    // PARAMETERS
    n_splits = 10
    n_features = 100
    train_val_split = 0.8
    n_threads = 8
}