params {
    // EXECUTABLES
    pipeline_script_dir = "${projectDir}/scripts"

    // INPUT DIRS
    feature_path = "/scratch/users/nphill22/projects/corsello_lab/20250116_refract_manuscript/20250205_rerun/data/processed_features/x-all.pkl"
    response_dir = "/scratch/users/nphill22/projects/corsello_lab/20250116_refract_manuscript/20250205_rerun/data/lowercase_responses"

    // OUTPUT DIRS
    output_dir = "/scratch/users/nphill22/projects/corsello_lab/20250116_refract_manuscript/20250205_rerun/data/output"
    data_split_dir = "${output_dir}/train_splits"
    refract_model_dir = "${output_dir}/refract_models"
    visualization_dir = "${output_dir}/visualizations"

    // PARAMTERS
    n_splits = 10
    feature_fraction = 0.1
    train_val_split = 0.8
    n_threads = 4
}